extends emailBase

block content 
  // CONTENT
  p Hi #{firstName} ,
  p Forgot your password ? submit a PaTCH request with your new password and confirmPassword to this url #{url}.
  p Website Feature Implementation not yet ready,
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href= `${url}`, target='_blank') Reset Your Password
  p If you didn,t forget your password pleas ignore this email.
